.contact {
  flex-direction: column;
  align-items: left;
  padding-bottom: 0px;

  &-title {
    color: var(--primary-color);
    font-size: 1em;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
  }
  ‚
  &-ul {
    position: relative;
    padding-top: 10px;
  }

  &-li {
    position: relative;
    list-style: none;
    margin: 0px 0;
    cursor: pointer;
    color: var(--primary-color);
    line-height: 35px;
    font-size: 15px;
  }
}
