.contact {
  flex-direction: column;
  align-items: left;
  padding-bottom: 10px;

  &-title {
    @include chapter-small;
  }
  
  &-li {
    list-style: none;
    margin: 0px 0;
    cursor: pointer;
    color: var(--primary-color);
    line-height: 30px;
    font-size: 15px;
  }
  a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
  }
  a:hover {
    color: var(--position-color);
  }

}
