.experience {
  position: relative;
  background: var(--primary-color);
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-bottom);

  h2 {
    @include chapter-big;
  }

  &-box {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
  }
  &-company {
    min-width: 150px;
  }
  h5 {
    // text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
    padding-bottom: 5px;
  }
  h4 {
    text-transform: uppercase;
    color: var(--position-color);
    font-size: 16px;
  }
  p {
    color: var(--text-color);
    font-weight: 300;
    padding-top: 3px;
  }
  a {
    text-transform: uppercase;
    color: var(--company-color);
    font-weight: 600;
    font-size: 0.85rem;
    text-decoration: none;
  }
  a:hover {
    color: var(--position-color);
  }

  .project {
    padding-bottom: 10px;
    
    .name {
      color: var(--project-name);
      font-weight: 600;
      padding-top: 3px;
    }
    .description {
      padding-bottom: 8px;
    }
    
    .technologies {
      color: var(--project-name);
      padding-bottom: 10px;
      
      .title {
        font-weight: 500;
        padding-right: 5px;
      }
      .description {
        color: var(--project-technologies);
        font-weight: 300;  
      }
    }
  }
}
