:root {
  --body-background: lightblue;
  --background: #003147;
  --primary-color: white;
  --border-bottom: rgb(255,255,255,0.2);
  --box-shadow: rgb(0, 0, 0, 0.1);
  --links-color: #03a9f4;
  --position-color: #2a7da2;
  --company-color: #848c90;
  --text-color: #333;
  --percent-color: #081921;
  --percent-background: #f0f0f0;
}