.icon {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
  color: var(--links-color);
  
  &-jogging::before {
    content: "\f70c";
  }
  &-phone::before {
    content: "\f095";
  }
  &-envelope::before {
    content: "\f0e0";
  }
  &-github::before {
    content: "\f09b";
  }
  &-envelope::before {
    content: "\f0e0";
  }
  &-linkedin::before {
    content: "\f0e1";
    padding-right: 2px;
  }
  &-xing::before {
    content: "\f168";
    padding-right: 5px;
  }
  &-fishing::before {
    content: "\f578";
  }
  &-music::before {
    content: "\f001";
  }
  &-cooking::before {
    content: "\f2e7";
  }
  &-computer::before {
    content: "\e4e5";
  }
}