* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

body {
  background: var(--body-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
 
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px var(--box-shadow);
  margin: 20px;

  .left {
    position: relative;
    background: var(--background);
    padding: 40px;
  }
  .right {
    position: relative;
    background: var(--primary-color);
    padding: 40px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    margin: 0;
    grid-template-columns: repeat(1,1fr);
  }
}
